@model XPTOlibrary.Models.BookCores

<form method="post" asp-action="Delete">
    <input asp-for="BookCoreid" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete BookCores</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="BookISBN"></label>
            <p>@Model.BookInformation.BookName</p>
            <span asp-validation-for="BookISBN" class="text-danger"></span>
        </div>
                <div class="mb-3">
            <label asp-for="CoreId"></label>
            <p>@Model.Cores.CoreName</p>
            <span asp-validation-for="CoreId" class="text-danger"></span>
        </div>
                <div class="mb-3">
            <label asp-for="Copies"></label>
            <p>@Model.Copies</p>
            <span asp-validation-for="Copies" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="BookCores" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}
