@model BookInformation
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Eidt Book</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="BookISBN"></label>
            <input asp-for="BookISBN" class="form-control" />
            <span asp-validation-for="BookISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BookName"></label>
            <input asp-for="BookName" class="form-control" />
            <span asp-validation-for="BookName"
            class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PublisherId"></label>
            <input asp-for="PublisherId" class="form-control" />
            <span asp-validation-for="PublisherId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cover"></label>
            <input asp-for="Cover" class="form-control" />
            <span asp-validation-for="Cover" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="BookInformation" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

